body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    overflow: hidden;
  }
  
  .heart {
    position: relative;
    width: 150px;
    height: 150px;
  }
  
  .bola-b1,
  .bola-b2 {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    top: 0;
  }
  
  .bola-b1 {
    right: 75px;
  }
  
  .bola-b2 {
    left: 60px;
  }
  
  .quadrado {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    top: 40px;
    left: 18px;
    transform: rotate(45deg);
  }
  